<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>

            <div class="panel-body">
                <form name="vm.form" ng-submit="vm.login()" novalidate>
                    <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.username.$error.required}">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" name="username" class="form-control" required ng-model="vm.credentials.username" />

                        <span class="help-block" ng-show="vm.form.$submitted && vm.form.username.$error.required">
                            Username is required
                        </span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.password.$error.required}">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" name="password" class="form-control" required ng-model="vm.credentials.password" />

                        <span class="help-block" ng-show="vm.form.$submitted && vm.form.password.$error.required">
                            Password is required
                        </span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.airline.$error.required}">
                        <label for="airline" class="control-label">Airline</label>
                        <select name="airline" class="form-control" required ng-options="airline as airline.display_name for airline in vm.airlines track by airline.code"
                            ng-model="vm.credentials.airline">
                        </select>

                        <span class="help-block" ng-show="vm.form.$submitted && vm.form.airline.$error.required">
                            Airline is required
                        </span>
                    </div>

                    <div class="checkbox">
                        <label for="remember_me">
                            <input type="checkbox" name="remember_me" ng-model="vm.credentials.rememberMe" />
                            Remember me
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.serviceCalled">
                        Sign In
                    </button>
                </form>
            </div><!-- end panel body -->
        </div><!-- end panel default -->

        <div class="alert alert-danger" ng-show="vm.invalidLogin && !vm.serviceCalled">
            {{vm.errorMsg}}
        </div>
    </div><!-- end column --> 
</div><!-- end row -->